{% extends 'abstract.html.twig' %}

{% block title %}Blog - Archey Barrell{% endblock %}

{% block page_content %}
<h2>Blog</h2>
<p><a href="/feed.xml">RSS Feed</a></p>

{% for blog in blogs %}
    <a href="{{ blog.url }}">
        <div style="width: 100%;">
            <h3>{{ blog.title }}</h3>
            <p><i>Published at {{ blog.published_at | date('F j, Y') }}</i></p>
        </div>
    </a>
{% else %}
    <p>No blog posts found.</p>
{% endfor %}
{% endblock %}
