{% extends 'abstract.html.twig' %}

{% block title %}Archey Barrell - Code Review{% endblock %}

{% block page_content %}
<h2>Code Reviews</h2>

<p>
This page gives an explanation the comments of any pull requests I have reviewed.
</p>

<h3>General Comments</h3>

<p>
These are just general comments on your code. They will likely include an action that I'd like you to take.
</p>

<h3>Nitpicks</h3>

<p>
These are things that are quite small, and more to do with code styling problems,
or namings of things; they usually don't affect the functionallity of the program itself. <br>
<br>
<b>Don't feel obliged to correct these, just take note of them for future reference.</b>
</p>

<h3>Aside</h3>

<p>
Just a bit of useful information, either something I think you might find interesting, or just a discussion about future plans. Usually no action requried.
</p>

<h3>TIL</h3>

<p>
Stands for <i>Today I Learnt</i> - it means you've done something that I didn't know you could do.
</p>
{% endblock %}
