
{% extends 'abstract.html.twig' %}

{% block title %}Archey Barrell - :/{% endblock %}

{% block page_content %}
<h2>:/</h2>

<div style="background-image: url('https://http.dog/{{ error }}.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center top; width: 100%; height: 400px;"></div>
{% endblock %}
