name: Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: yaml
          coverage: xdebug
          tools: pecl, composer

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      - name: Build
        run: php build.php

      - name: Create archive
        run: zip -r out.zip out/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: out
          path: out.zip
