name: Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      artifact_id: ${{ steps.upload_artifact.outputs.artifact-id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: yaml
          coverage: xdebug
          tools: pecl, composer

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      - name: Build
        run: php build.php
      - name: Upload artifact
        id: upload_artifact
        uses: actions/upload-artifact@v4
        with:
          include-hidden-files: true
          name: out
          path: out/
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Notify deployment server
        run: |
          curl https://archbar.me/.deploy/?artifact_id=${{ needs.build.outputs.artifact_id }}&deploy_key=${{ secrets.DEPLOY_KEY }}
