name: Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: yaml
          coverage: xdebug
          tools: pecl, composer

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      - name: Build
        run: php build.php

      - name: Create archive
        run: zip -r out.zip zip/

      - name: Calculate checksum for version
        id: checksum
        run: |
          SHA=$(sha256sum out.zip | cut -d ' ' -f1)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.checksum.outputs.sha }}
          release_name: Release ${{ steps.checksum.outputs.sha }}
          draft: false
          prerelease: false

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: out.zip
          asset_name: out.zip
          asset_content_type: application/zip
